<div class="container">
    <div class="btn-group mar-ang" role="group" aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-danger" (click)="toRed()">Cambiar color a rojo</button>
      <button type="button" class="btn btn-warning" (click)="toYellow()">Cambiar color a amarillo</button>
      <button type="button" class="btn btn-success" (click)="toGreen()">Cambiar color a verde</button>
      <button type="button" class="btn btn-secondary" (click)="toDefault()">Reestablecer</button>
    </div>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Fecha Inscripcion</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of listaAlumnos">
        <tr [ngClass]="txtStyle">
          <td  >{{item.nombre}}</td>
          <td >{{item.fecInscrip | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
</div>