
<div class="p-3 bg-secondary" style="height: 100%">
    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <span class="fs-5 fw-semibold text-white">Panel de Control</span>
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a href="" target="_blank">
          <button class="btn btn-toggle align-items-center   text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Alumnos
          </button>
        </a>
      </li>
      <!-- <li class="mb-1">
        <a href="" target="_blank">
          <button class="btn btn-toggle align-items-center   text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
            Cursos
          </button>
        </a>
      </li> -->

    </ul>
  </div>