<div class="p-3 bg-secondary" style="height: 100%">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <span class="fs-5 fw-semibold text-white">Visita nuestras Redes Sociales</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <a href="https://www.facebook.com/" target="_blank">
        <button class="btn btn-toggle align-items-center   text-white" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Facebook
        </button>
      </a>

    </li>
    <li class="mb-1">
      <a href="https://www.instagram.com/" target="_blank">
        <button class="btn btn-toggle align-items-center  text-white" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Instagram
        </button>
      </a>

    </li>
    <li class="mb-1">
      <a href="https://twitter.com/" target="_blank">
        <button class="btn btn-toggle align-items-center  text-white" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
          Twitter
        </button>
      </a>
    </li>
  </ul>
</div>
